---
import { CustomerReview } from '../services/CustomerReview';
import PricingOptions from '../services/PricingOptions';
import ProcessDescription from '../services/ProcessDescription';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import { OFFERS, type PhotoShootingOffersTranslated } from './pricing-data';
import { type ProcessDescriptionTranslated, SHOOTING_PROCESS } from './process-data';
import Layout from '../../../layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatedShootings: PhotoShootingOffersTranslated[] = OFFERS.map((offer) => {
	return {
		...offer,
		title: t(offer.title),
		description: t(offer.description),
		targetGroup: t(offer.targetGroup),
		cta: t(offer.cta),
		includes: offer.includes.map((include) => t(include))
	};
});

const translatedShootingDescription: ProcessDescriptionTranslated[] = SHOOTING_PROCESS.map(
	(step) => {
		return {
			title: t(step.title),
			description: t(step.description)
		};
	}
);
---

<Layout title="Jo Maendle Photography">
	<section class="card mx-auto mb-12 flex max-w-[90rem] flex-col gap-20 md:gap-40">
		<section>
			<PricingOptions
				client:load
				shootings={translatedShootings}
				title={t('pricing.title')}
				subtitle={t('pricing.subtitle')}
			/>
		</section>

		<section>
			<ProcessDescription
				client:load
				title={t('process.title')}
				subtitle={t('process.subtitle')}
				shootingSteps={translatedShootingDescription}
			/>
		</section>

		<section>
			<CustomerReview client:load />
		</section>
	</section>
</Layout>

<style>
	section > section {
		@apply flex flex-col gap-2;

		& > h2 {
			@apply font-medium;
		}
	}
</style>
