---
import { getCustomerReviewTranslations } from '../contact/contact-translations';
import { CustomerReview } from '../customer-reviews/CustomerReview';
import PricingOptions from '../services/PricingOptions';
import ProcessDescription from '../services/ProcessDescription';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import Layout from '../../../layouts/Layout.astro';
import {
	getTranslatedCustomerReviews,
	getTranslatedShootingDescriptions,
	getTranslatedOffers,
} from './services-translation.util';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const reviewTranslations = getCustomerReviewTranslations(t);
---

<Layout title="Jo Maendle Photography">
	<section class="card mx-auto mb-12 flex max-w-[90rem] flex-col gap-20 md:gap-40">
		<section>
			<PricingOptions
				client:load
				shootings={getTranslatedOffers(t)}
				title={t('pricing.title')}
				subtitle={t('pricing.subtitle')}
			/>
		</section>

		<section>
			<ProcessDescription
				client:load
				title={t('process.title')}
				subtitle={t('process.subtitle')}
				shootingSteps={getTranslatedShootingDescriptions(t)}
			/>
		</section>

		<section>
			<CustomerReview
				customerReviewTranslations={reviewTranslations}
				translatedCustomerReview={getTranslatedCustomerReviews(t)}
				client:load
			/>
		</section>
	</section>
</Layout>

<style>
	section > section {
		@apply flex flex-col gap-2;

		& > h2 {
			@apply font-medium;
		}
	}
</style>
