---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';
import LayoutCard from '../../components/LayoutCard.astro';
import ContactForm from '../../components/ui/ContactForm';
import { ArrowUpRight } from 'lucide-react';
import { Button } from '@/components/ui/button';

const lang = getLangFromUrl(Astro.url);
const translationFn = useTranslations(lang);
---

<Layout title="Portrait Photography by Jo Maendle">
	<div class="card mx-auto max-w-[700px]">
		<ContactForm client:load translatedCta={translationFn('cta.call')} />
	</div>
</Layout>
