---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import Layout from '../../layouts/Layout.astro'
import LayoutCard from '../LayoutCard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Portrait Photography by Jo Maendle">
	<LayoutCard title={t('nav.imprint')}>
		<div>
			<p>
				Johannes M&auml;ndle<br />
				Jo Maendle Photography<br />
				Elbstr. 81<br />
				28199 Bremen
			</p>

			<h2 class="text-xl font-medium">{t('nav.contact')}</h2>
			<p>
				{t('imprint.phone')}: +49 (0) 15780778443<br />
				E-Mail: johannes.maendle@outlook.de
			</p>

			<h2 class="text-xl font-medium">{t('imprint.umsatzsteuer.title')}</h2>
			<p>
				{t('imprint.umsatzsteuer.desc')}<br />
				DE360224988
			</p>
		</div>
	</LayoutCard>
</Layout>

<style>
	p {
		@apply pb-8 pt-2 font-light text-gray-700;
	}
</style>
