---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';
import LayoutCard from '../LayoutCard.astro';
import { Button } from '@/components/ui/button';
import { ExternalLink } from 'lucide-react';
import CustomerReview from '../services/CustomerReview';
import PricingOptions from '../services/PricingOptions';
import ProcessDescription from '../services/ProcessDescription';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Jo Maendle Photography">
	<section class="card mx-auto mb-12 flex max-w-[90rem] flex-col gap-20 md:gap-40">
		<section>
			<PricingOptions />
		</section>

		<section>
			<ProcessDescription client:load />
		</section>

		<section>
			<CustomerReview client:load />
		</section>
	</section>
</Layout>

<style>
	section > section {
		@apply flex flex-col gap-2;

		& > h2 {
			@apply font-medium;
		}
	}
</style>
