---
import type { ImageContent } from '../../content/config';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { getCollection, CollectionEntry } from 'astro:content';
import { getImage } from 'astro:assets';

import Layout from '../../layouts/Layout.astro';
import LayoutCard from '../../components/LayoutCard.astro';
import { ImageCarousel } from '@/components/ImageCarousel';
import { Button } from '@/components/ui/button';
import { portraitImagesKey } from '../../content/config';
import { GetImageResult } from 'astro';

const imagesFromCollection = await getCollection<ImageContent>(portraitImagesKey);

const optimizedMobileImages: GetImageResult[] = await Promise.all(
	imagesFromCollection.map(
		async (image) =>
			await getImage({
				src: image.data.image,
				width: 600,
				quality: 'high'
			})
	)
);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Jo Maendle Photography">
	<LayoutCard>
		<div
			class="relative flex h-full w-full grid-cols-2 flex-col-reverse gap-8 overflow-hidden md:grid md:gap-12 lg:gap-20 xl:gap-24"
		>
			<div class="shrink-0">
				<ImageCarousel client:load images={optimizedMobileImages} />
			</div>

			<div
				class="flex flex-col items-center text-center md:items-start md:justify-center md:text-start"
			>
				<h1 class="my-8 max-w-[520px] text-3xl font-bold sm:mb-4 sm:mt-0 md:text-5xl lg:text-6xl">
					{t('start.hero.title')}
				</h1>
				<p class="text-pretty text-gray-600">{t('start.hero.subtitle')}</p>
				<p class="text-gray-600">{t('start.hero.cta')}</p>

				<div class="mt-8 flex gap-3">
					<a href=`/${lang}/work`>
						<Button>
							{t('start.hero.exploreWork')}
						</Button>
					</a>

					<a href=`/${lang}/services`>
						<Button variant="outline">
							{t('start.hero.exploreService')}
						</Button>
					</a>
				</div>
			</div>
		</div>
	</LayoutCard>
</Layout>
