---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import LayoutCard from '../../components/LayoutCard.astro'
import { ImageCarousel } from '../../components/ImageCarousel'
import { Button } from '../ui/button'
import { collections, portraitImagesKey } from '../../content/config'

const images = await getCollection(portraitImagesKey)

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Jo Maendle Photography">
	<LayoutCard>
		<div
			class="relative flex h-full w-full grid-cols-2 flex-col-reverse gap-12 overflow-hidden md:grid md:gap-16 md:px-12 lg:gap-20 xl:gap-24"
		>
			<ImageCarousel client:load images={images} />

			<div
				class="flex flex-col items-center text-center md:items-start md:justify-center md:text-start"
			>
				<h1 class="my-8 max-w-[420px] text-3xl font-bold sm:mb-4 sm:mt-0 md:text-5xl lg:text-6xl">
					{t('start.hero.title')}
				</h1>
				<p class="text-pretty text-gray-600">{t('start.hero.subtitle')}</p>
				<p class="text-gray-600">{t('start.hero.cta')}</p>

				<div class="mt-8 flex gap-3">
					<a target="_blank" href="https://calendly.com/jo-maendle/erstgespraech">
						<Button>
							{t('cta.short')}
						</Button>
					</a>

					<Button variant="outline">
						{t('common.learnMore')}
					</Button>
				</div>
			</div>
		</div>
	</LayoutCard>
</Layout>
