---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import WorkCard from '../ui/WorkCard.astro'
import { portraitImagesKey } from '../../content/config'

const images = await getCollection(portraitImagesKey)
---

<Layout title="Jo Maendle Photography">
	<section class="card mx-auto flex h-full flex-col gap-8">
		<div class="grid gap-8 lg:grid-cols-2">
			<WorkCard image={images[0]} />
			<WorkCard image={images[1]} />
			<WorkCard image={images[2]} />
			<WorkCard image={images[3]} />
		</div>
	</section>
</Layout>
