---
import Layout from '../../layouts/Layout.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import WorkCard from '../ui/WorkCard.astro'
import { clientProjectsKey } from '../../content/config'
import {getLangFromUrl} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url)

const clientProjects: CollectionEntry<'client-projects'>[] = await getCollection(clientProjectsKey)
---

<Layout title="Work - Jo Maendle Photography">
	<section class="card mx-auto max-w-7xl flex h-full flex-col gap-8">
		<div class="grid gap-8 lg:grid-cols-2">
			{
				clientProjects.map((project) => (
					<a href=`/${lang}/details/${project.slug}`>
						<WorkCard project={project} />
					</a>
				))
			}
		</div>
	</section>
</Layout>
