---
import Layout from "../layouts/Layout.astro";
import LayoutCard from "../components/LayoutCard.astro";
---


<Layout title="Portrait Photography by Jo Maendle">
    <LayoutCard title="Contact"
                subtitle="Get in touch">
        <div class="flex flex-col gap-8 ">

        </div>
    </LayoutCard>
</Layout>
