---
import Layout from "../layouts/Layout.astro";
import LayoutCard from "../components/LayoutCard.astro";

const title = "Portrait Photography by Jo Maendle";

const faqs: {
    title: string;
    content: string;
}[] = [{
    title: "Welche Fotografie-Dienstleistungen bietet Jo Maendle Photography an?",
    content: "Wir spezialisieren uns auf individuelle Porträtshootings in der freien Natur, sowie in Innenräumen nach Absprache. Zudem sind wir für Natur- und Landschaftsfotografie verfügbar."
}, {
    title: "Bietet Jo Maendle Photography auch Fotobearbeitung an?",
    content: "Ja, jede Fotosession bei Jo Maendle Photography beinhaltet professionelle Fotobearbeitung. Im Preis inbegriffen sind bis zu 10 bearbeitete Fotos, je nach gewähltem Paket, mit der Option auf zusätzliche Edits gegen Aufpreis."
}, {
    title: "Wie kann ich einen Fototermin bei Jo Maendle Photography buchen?",
    content: "Die einfachste Möglichkeit, einen Termin zu buchen, ist über unsere Instagram-Seite oder indem Sie ein 15-minütiges Gespräch über unseren Calendly-Kalender vereinbaren."
},
    {
        title: "Welche Pakete gibt es und was beinhalten diese?",
        content: "Unser Starterpaket umfasst 1 Stunde Shooting-Zeit und 5 Fotoedits für 59€. Das Premiumpaket bietet 2 Stunden Shooting-Zeit und 10 Edits für 99€. Beide Pakete sind ideal für Outdoor-Shootings."
    },
    {
        title: "Was passiert, wenn ich meinen Termin bei Jo Maendle Photography absagen oder verschieben muss?",
        content: "Termine können bis zu 24 Stunden vor dem geplanten Shooting kostenfrei verschoben oder abgesagt werden. Bei Nichterscheinen ohne rechtzeitige Absage behalten wir uns vor, zukünftige Buchungen abzulehnen."
    },
    {
        title: "Gibt es zusätzliche Kosten, die ich beachten sollte?",
        content: "Alle angegebenen Preise gelten für Outdoor-Shootings. Für Indoor-Shootings können zusätzliche Kosten für die Raummiete anfallen"
    },
    {
        title: "Wie sollte ich mich auf ein Shooting mit Jo Maendle vorbereiten?",
        content: "Wir empfehlen, Kleidung für verschiedene Szenen mitzubringen, besonders für Outdoor-Shootings. Ihre eigenen Ideen und Wünsche sind ebenfalls willkommen und werden in die Planung des Shootings einbezogen."
    }, {
        title: "Wie lange dauern die Fotosessions?",
        content: "Je nach gewähltem Paket dauern die Shootings etwa 1 bis 2 Stunden, zusätzlich zu einem 15-minütigen Kennenlerngespräch vor dem Shooting."
    },
    {
        title: "Wie und wann erhalte ich meine Fotos?",
        content: "Nach dem Shooting erhalten Sie einen Link zu allen unbearbeiteten Fotos. Sie wählen dann Ihre Favoriten für die Bearbeitung aus. Die fertigen, editierten Fotos werden Ihnen innerhalb einer Woche per E-Mail zugesendet."
    },
    {
        title: "Kann ich zusätzliche Fotos nachbestellen?",
        content: "Ja, zusätzliche bearbeitete Fotos können nach dem Shooting bestellt werden."
    },
    {
        title: "Wie handhabt Jo Maendle Photography Datenschutz und Bildrechte?",
        content: "Die Privatsphäre unserer Kunden hat höchste Priorität. Fotos werden nur mit Ihrer ausdrücklichen schriftlichen Zustimmung für Werbezwecke verwendet. Ohne Ihre Genehmigung werden Ihre Bilder nicht veröffentlicht."
    }
]
---

<Layout title={title}>
    <LayoutCard title="FAQ"
                subtitle="Here are some frequently asked questions about my portrait photography services.">
        <div class="flex flex-col gap-8 py-8 overflow-y-auto">
            {faqs.map(faq => (
                    <details class="max-w-[600px]">
                        <summary class="text-xl cursor-pointer text-hover ">
                            <span class="pl-2">{faq.title}</span>
                        </summary>
                        <p class="font-light pt-2">{faq.content}</p>
                    </details>
            ))}
        </div>
    </LayoutCard>
</Layout>

<script src="../util/toggle-details.ts"></script>

<style>
    details {
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
        background-color: #f2f2f2;
    }

    details[open] > summary::marker {
        content: "-";
    }

    details > summary::marker {
        content: "+";
    }
</style>
