---
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import Layout from '../../../layouts/Layout.astro';
import LayoutCard from '../../LayoutCard.astro';
import { Button } from '@/components/ui/button';
import me from './me.png';
import { Image } from 'astro:assets';
import PageTitle from '@/components/ui/PageTitle';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Portrait Photography by Jo Maendle" hasFullHeight={true}>
	<LayoutCard>
		<PageTitle title={t('about.title')} subtitle={t('about.subtitle')} />
		<div
			class="mt-8 flex w-full flex-col-reverse items-center justify-center gap-12 sm:mt-12 sm:flex-row sm:gap-16 lg:gap-20"
		>
			<div class="relative shrink-0 overflow-hidden rounded-xl">
				<div
					class="absolute bottom-0 right-0 h-[270px] w-[300px] rounded-tl-xl rounded-tr-xl bg-gradient-to-t from-blue-300 to-70%"
				>
				</div>
				<Image
					src={me}
					alt="Jo Maendle"
					height="720"
					class="relative z-10 aspect-square max-w-[200px] object-cover object-right-top md:max-h-[340px] md:max-w-[280px]"
				/>
			</div>

			<div
				class="flex max-w-[min(95%,400px)] flex-col gap-4 text-pretty text-center leading-7 sm:min-w-[260px] sm:max-w-[400px] sm:text-left sm:leading-7"
			>
				<p>
					{t('about.desc.1')}
					<a
						href="https://unsplash.com/@leonardo_64"
						rel="noreferrer"
						target="_blank"
						class="text-blue-600 hover:text-blue-500 hover:underline"
					>
						Unsplash.
					</a>
				</p>
				<p>
					{t('about.desc.2')}
				</p>

				<p>
					{t('about.desc.3')}
				</p>
			</div>
		</div>
	</LayoutCard>
</Layout>
