---
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import Layout from '../../../layouts/Layout.astro';
import LayoutCard from '../../LayoutCard.astro';
import me from './me.png';
import { Image } from 'astro:assets';
import PageTitle from '@/components/ui/PageTitle';
import { Button } from '@/components/ui/button';
import { UnsplashData } from './UnsplashData';
import { ExternalLinkIcon } from 'lucide-react';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const unsplashViewTranslations = {
	title: t('about.unsplash.title'),
	views: t('about.unsplash.views'),
	downloads: t('about.unsplash.downloads'),
	totalPhotos: t('about.unsplash.totalPhotos'),
	followers: t('about.unsplash.followers'),
	description: t('about.unsplash.description'),
	cta: t('about.unsplash.cta'),
};
---

<Layout title="Portrait Photography by Jo Maendle" hasFullHeight={true}>
	<LayoutCard>
		<main class="flex max-w-3xl flex-col">
			<PageTitle title={t('about.title')} subtitle={t('about.subtitle')} />
			<div
				class="mt-8 flex w-full flex-col-reverse items-center justify-start gap-12 sm:mt-12 sm:flex-row sm:items-start sm:gap-16 lg:gap-20"
			>
				<div class="relative shrink-0 overflow-hidden rounded-xl">
					<Image
						src={me}
						alt="Jo Maendle"
						height="720"
						class="relative z-10 aspect-square max-w-[200px] bg-gray-100 object-cover object-right-top md:max-h-[340px] md:max-w-[280px]"
					/>
				</div>

				<div
					class="flex max-w-[min(95%,400px)] flex-col gap-4 text-pretty text-center leading-7 sm:min-w-[260px] sm:max-w-[400px] sm:text-left"
				>
					<p>
						{t('about.desc.1')}
						<a
							href="https://unsplash.com/@leonardo_64"
							rel="noreferrer"
							target="_blank"
							class="px-2"
						>
							<Button variant="link" size="linkLg" className="flex items-center gap-2">
								<ExternalLinkIcon size="12" className="shrink-0" />
								Unsplash.
							</Button>
						</a>
					</p>
					<p>
						{t('about.desc.2')}
					</p>

					<p>
						{t('about.desc.3')}
					</p>
				</div>
			</div>

			<UnsplashData client:only="react" translations={unsplashViewTranslations} />
		</main>
	</LayoutCard>
</Layout>
