---
import {getLangFromUrl, useTranslations} from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {variation, labelKey} = Astro.props;

let baseStyles = "px-5 py-2 rounded-full transition-colors ";

if (variation === 'outline') {
    baseStyles += "border-2 border-accent text-black hover:bg-accent";
} else {
    baseStyles += "bg-accent hover:bg-foreground hover:text-white";
}
---


<button class={baseStyles}>{t(labelKey ?? 'cta.short')}</button>