---
import LanguagePicker from "./LanguagePicker.astro";
---
<footer class="sm:fixed bottom-2 left-8 sm:left-16 text-sm text-gray-500 text-center sm:text-left py-2">
    <p class="font-light">
        &copy; Johannes Maendle
    </p>

    <LanguagePicker/>
</footer>