---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import LanguagePicker from './LanguagePicker.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

function getNavUrl(lang: string, url: string): string {
	return `/${lang}/${url}`
}
---

<footer
	class="z-20 flex flex-col-reverse items-center gap-8 bg-gray-100 p-4 text-center text-sm text-gray-500 sm:flex-row sm:items-start sm:bg-transparent sm:px-8 sm:text-left"
>
	<div class="flex flex-1 gap-4">
		<LanguagePicker />

		<a href={getNavUrl(lang, 'about')} class="text-hover">
			{t('nav.about')}
		</a>
	</div>
</footer>
