---
import LanguagePicker from "./LanguagePicker.astro";
---
<footer class="sm:fixed bg-gray-100 sm:bg-white bottom-2 left-8 sm:left-16 text-sm text-gray-500 text-center flex flex-col items-center sm:items-start gap-8 sm:text-left pt-4 pb-2">
    <LanguagePicker/>

    <p class="font-light">
        &copy; Johannes Maendle
    </p>
</footer>