---
type NavItems = {
    name: string;
    url: string;
}

const links: NavItems[] = [
    {
        name: 'Start',
        url: '/'
    },
    {
        name: 'Portraits',
        url: '/portraits'
    },
    {
        name: 'Landscapes',
        url: '/landscapes'
    },
    {
        name: 'FAQ',
        url: '/faq'
    },
    {
        name: 'Contact',
        url: '/contact'
    }
]
---

<header class="py-8 px-16 flex flex-col gap-12">
    <a href="/" class="flex flex-col leading-5">
        <span class="text-xl whitespace-nowrap uppercase font-medium" style="letter-spacing: 0.1rem">
            Jo Maendle
        </span>
        <span class="uppercase text-lg font-thin leading-4" style="letter-spacing: 0.03rem">
            Photography
        </span>
    </a>

    <nav class="flex flex-col gap-1">
        {links.map(link => (
                <a href={link.url} class="py-1 text-hover">
                    {link.name}
                </a>
        ))}
    </nav>
</header>
