---
import {getNavItemLink} from "../i18n/utils";
import {getLangFromUrl, useTranslations} from "../i18n/utils";
import MobileMenu from "./MobileMenu.astro";
import {LINKS, NavItem} from "../models/nav-item";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="sm:py-8 sm:px-16 p-4 flex sm:flex-col gap-12 sticky sm:static top-0 bg-white">
    <a href="/"
       class="flex sm:flex-col items-center gap-2 sm:gap-0 leading-5 text-center sm:text-left flex-1 sm:flex-none">
        <span class="text-lg sm:text-xl whitespace-nowrap uppercase font-medium" style="letter-spacing: 0.1rem">
            Jo Maendle
        </span>
        <span class="uppercase text-lg font-thin leading-4" style="letter-spacing: 0.03rem">
            Photography
        </span>
    </a>

    <nav class="hidden sm:flex flex-col gap-1">
        {LINKS.map(link => (
                <a href={getNavItemLink(lang, link)} class="py-1 text-hover">
                    {t(link.labelKey)}
                </a>
        ))}
    </nav>

    <MobileMenu links={LINKS}/>
</header>
