---
import { getNavItemLink } from '../i18n/utils';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import MobileMenu from './MobileMenu.astro';
import { LINKS } from '../models/nav-item';
import { Button } from './ui/button';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isCurrent = (link) => {
	const currentPath = Astro.url.pathname;
	const linkPath = getNavItemLink(lang, link);
	return currentPath === linkPath;
};

---

<header class="sticky top-0 z-20 flex gap-12 bg-white p-4 sm:p-8 sm:pb-4">
	<a
		href="/"
		class="flex flex-1 items-center gap-2 text-center leading-5 text-gray-800 sm:flex-col sm:items-start sm:gap-0"
	>
		<span
			class="whitespace-nowrap text-lg font-medium uppercase sm:text-xl"
			style="letter-spacing: 0.1rem"
		>
			Jo<span style="width: 4px; display: inline-block"> </span>Maendle
		</span>
		<span class="text-lg font-thin uppercase leading-4" style="letter-spacing: 0.03rem">
			Photography
		</span>
	</a>

	<nav class="hidden gap-4 md:flex lg:gap-8">
		{
			LINKS.map((link) => (
				<a
					href={getNavItemLink(lang, link)}
					class=`flex items-center whitespace-nowrap underline-offset-4 py-1 ${isCurrent(link) ? 'text-primary underline' : 'text-hover'}`
				>
					{t(link.labelKey)}
				</a>
			))
		}

		<a target="_blank" class="ml-4" href="https://calendly.com/jo-maendle/erstgespraech">
			<Button>
				{t('cta.short')}
			</Button>
		</a>
	</nav>

	<MobileMenu links={LINKS} />
</header>
