---
const { title, subtitle } = Astro.props;
---

<div class="card flex h-full flex-col gap-2">
	<header class="flex flex-col gap-2">
		<h1 class="layout-title">{title}</h1>
		{subtitle && <p class="font-light text-gray-500">{subtitle}</p>}
	</header>

	<slot />
</div>
