---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body class="flex">
<slot/>
</body>
</html>

<style is:global>
    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-Light.woff2") format("woff2"),
        url("/fonts/Outfit-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-Regular.woff2") format("woff2"),
        url("/fonts/Outfit-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-Medium.woff2") format("woff2"),
        url("/fonts/Outfit-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Outfit";
        src: url("/fonts/Outfit-SemiBold.woff2") format("woff2"),
        url("/fonts/Outfit-SemiBold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    :root {
    }

    html {
        font-family: "Outfit", sans-serif;
        background: #fcfcfc;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        overflow: hidden;
    }

</style>
