---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
import { Toaster } from '@/components/ui/sonner';

import '../styles.css';

interface Props {
	title: string;
	description?: string;
	hasFullHeight?: boolean;
}

const { title, description, hasFullHeight } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang} class="hide-scrollbar h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link
			rel="preload"
			href="/fonts/Outfit-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<link rel="preload" href="/fonts/Outfit-Medium.woff2" as="font" type="font/woff2" crossorigin />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description ?? 'Jo Maendle Photography'} />

		<ViewTransitions />
	</head>
	<body class=`flex flex-col ${hasFullHeight ? 'h-full' : ''}`>
		<style is:global>
			@font-face {
				font-family: 'Outfit';
				src: url('/fonts/Outfit-Regular.woff2') format('woff2');
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'Outfit';
				src: url('/fonts/Outfit-Medium.woff2') format('woff2');
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}

			html {
				font-family: 'Outfit', sans-serif;
			}

			html,
			body {
				margin: 0;
				padding: 0;
				scrollbar-gutter: stable;
				scroll-behavior: smooth;
			}

			hr {
				background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(52, 52, 70, 0) 30%);
				border: none;
				height: 2px;
				width: 100%;
			}

			.text-hover {
				@apply text-gray-500 transition-colors hover:text-gray-900;
			}

			.link-hover {
				@apply text-blue-500 transition-colors hover:text-blue-900;
			}

			.card {
				@apply p-4 sm:p-8;
			}

			.layout-title {
				@apply text-xl font-medium sm:text-2xl;
			}

			.secondary-text {
				@apply text-sm font-thin text-gray-600;
			}

			.hide-scrollbar {
				scrollbar-color: rgba(52, 52, 70, 0.7) rgb(231, 231, 231);
				scroll-behavior: smooth;
				scrollbar-width: thin;
			}
		</style>

		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer size="sm" />
		<Toaster client:load />
	</body>
</html>
