---
import type { ClientProject, CollectionItem } from '../../content/config'
import { Image } from 'astro:assets'

interface Props {
	image: any
	index: number
	slug: string
}

const { image, slug, index }: Props = Astro.props
---

<div
	id=`${slug}-${index}-modal`
	class="modal fixed inset-0 z-[100] hidden h-full items-center justify-center bg-black/50 p-12 backdrop-blur-sm"
>
	<Image
		src={image as unknown as string}
		alt=""
		transition:name=`media-image-${slug}-${index}`
		width="900"
		height="1200"
		class="max-h-full object-contain"
		quality={100}
	/>
</div>
